
assets/*
system/*
user_guide/*
tests/*
portal/Zip/*
vendor/*

/assets/*
/system/*
/user_guide/*
/tests/*
/portal/Zip/*
/vendor/*



/system/
/user_guide/
/tests/
/portal/Zip/
/vendor/
/java_calc/
/assets/

